/* MÉTRICAS */

.metrics-container {
    display: flex;
    justify-content: center;
    gap: 3.2rem;

    padding-bottom: 9.6rem;
}

.metric-item {
    padding: 0 3.2rem;
    max-width: 28.0rem;

    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.metric-number {
    color: var(--cor-vinho);
    font-size: 6rem;
    font-weight: 600;
}

.metric-title {
    font-size: 1.8rem;
    font-weight: 500;
}

.metric-description {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--cinza);
}

/* VAGAS */

.jobs-container {
    padding-top: 9.6rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2.0rem;
}

.jobs-title {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--cor-vinho);
    background: rgba(142, 36, 36, 0.05);
    border-radius: 16px;
    padding: 0.4rem 1.2rem;
}

.jobs-main-title {
    font-size: 3.6rem;
    font-weight: 600;
}

.jobs-description {
    font-size: 2rem;
    font-weight: 400;
    color: var(--cinza);
}

.jobs-img {
    margin-bottom: 6.4rem;
    width: 1216px;
    height: 400px;
}