/* MÉTRICAS */

.metrics-container {
    display: flex;
    justify-content: center;
    gap: 3.2rem;

    padding-bottom: 9.6rem;
}

.metric-item {
    padding: 0 3.2rem;
    max-width: 28.0rem;

    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.metric-number {
    color: var(--cor-vinho);
    font-size: 6rem;
    font-weight: 600;
}

.metric-title {
    font-size: 1.8rem;
    font-weight: 500;
}

.metric-description {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--cinza);
}

/* VAGAS */

.jobs-container,
.jobs-talents {
    padding-top: 9.6rem;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2.0rem;
}

.jobs-talents-title {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--cor-vinho);
    background: rgba(142, 36, 36, 0.05);
    border-radius: 1.6rem;
    padding: 0.4rem 1.2rem;
}

.jobs-talents-main-title {
    font-size: 3.6rem;
    font-weight: 600;
}

.jobs-talents-description {
    font-size: 2rem;
    font-weight: 400;
    color: var(--cinza);
}

.jobs-talents-img {
    margin-bottom: 6.4rem;
    width: 90%;
}

.jobs-category {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;

    width: 50vw;
    padding-bottom: 6.6rem;
}

.jobs-category-title {
    font-size: 2rem;
    font-weight: 500;
}

.jobs-details-title {
    font-size: 1.6rem;
}

.jobs-details {
    border: .1rem solid var(--cinza-claro);
    border-radius: 1rem;
    padding: 2.4rem 2.4rem 2.8rem 2.4rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3.2rem;
}

.jobs-details-description {
    font-size: 2rem;

    display: flex;
    gap: 2.4rem;
}

/* DEPOIMENTOS */

.depoiments-container {
    background-color: var(--cor-de-fundo);
    border-radius: 1.6rem;
    padding: 6.4rem;
    width: 70vw;
    margin: auto;
    margin-bottom: 9.6rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;
}

.depoiments-title {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--cor-vinho);
}

.depoiments-text {
    font-size: 3.6rem;
    font-weight: 500;
    text-align: center;
}

.depoiments-avatar {
    width: 5.6rem;
}

.depoiments-author {
    font-size: 1.6rem;
    font-weight: 500;
}

.depoiments-role {
    font-size: 1.4rem;
    font-weight: 400;
  }