.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;

    padding: 9.6rem 0;
}

.footer-title {
    font-size: 3.6rem;
    font-weight: 600;
}

.footer-text {
    font-size: 2rem;
    font-weight: 400 ;
    color: var(--cinza);
}

.footer-email-box {
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.footer-email-email {
    display: flex;
    align-items: center;

    font-size: 1.6rem;
    width: 36rem;
    height: 4.8rem;
    padding: 1.2rem 1.4rem 1.2rem 1.6rem;
    border: .1rem solid var(--cinza);
    border-radius: .8rem;
}

.footer-email-email::placeholder {
    font-size: 1.6rem;
    font-weight: 400;

    display: flex;
    align-items: center;
}

.footer-email-button {
    display: flex;
    align-items: center;

    background-color: var(--cor-vinho);
    color: white;
    height: 2.4rem;
    padding: 1.6rem 2.4rem;
    font-size: 1.6rem;
    height: 4.8rem;
    border-radius: .8rem;
    border: .1rem solid var(--cor-vinho);
}

.footer-copyright {
    font-size: 1.6rem;
    font-weight: 400;
    color: #98A2B3;
}